#loading .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 7%;
}

#loading {
    text-align: center;
}

#loading .title::after {
    animation: txt 3s infinite;
    content: "";
}

@keyframes txt {
    0% {
        content: "LOADING.";
    }
    50% {
        content: "LOADING..";
    }
    100% {
        content: "LOADING...";
    }
}

.loader{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 4px;
    border-color: #000000 #00000010 #00000010;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.wrapper{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}